<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header">
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome Back!</strong>
    <p>Please login to your account</p>
    <input type="text" class="user-white" [(ngModel)]="userName" placeholder="Username"><br><br>
    <input type="password" class="user-white" [(ngModel)]="password" placeholder="Password"><br><br>
    <ion-button (click)="logIn()">LOGIN</ion-button>
  </div>

</ion-content>

