<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="input"   > 

  <ion-item>
    <ion-label position="floating"> Title </ion-label>
    <ion-input type="text" [(ngModel)]="users.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label > Date </ion-label>
    <input type="date" [(ngModel)]="users.date">
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Actor </ion-label>
    <ion-input type="text" [(ngModel)]="users.actor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Genre </ion-label>
    <ion-input type="text" [(ngModel)]="users.genre"></ion-input>
  </ion-item>


 </div>

 <div class="update-btn">  

  <ion-button (click)="update()">update moto</ion-button>
 </div>
</ion-content>
