<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-avatar class="avatar" slot="end">
      <img src="/assets/image-your.jpg.jpg">
    </ion-avatar>
    <ion-label>
      <h3>Hi! I'm</h3>
      <br>
      <h2>KYTH RO ANN O. PEPITO</h2>
      <br>
      <p> IM CURRENTLY STUDYING IN PAMANTASAN NG LUNGSOD NG VALENZUELA</p>
      <br>
      <p> TAKING OF BACHELOR OF SCIENCE IN INFORMATION</p>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" scroll="true">
  <p><strong>Hobbies/Likes/Talent/Skills:</strong><br> readings, writing, watching</p>
  <p><strong>How Do I See Myself in 5 Yrs?</strong> <br>working in industry</p>
  <p><strong>Strengths & Weaknesses:</strong></p>
  <ul>
    <li><strong>Strengths:</strong> <br> Strong problem-solving skills: I have a knack for breaking down complex problems into manageable tasks and finding effective solutions. </li>
    <li><strong>Weaknesses:</strong><br> Perfectionism: Sometimes, I spend too much time trying to perfect a task, which can lead to delays in project completion.</li>
  </ul>
  <p><strong>Motto:</strong>  time is gold</p>
  <p><strong>Love Language:</strong> Quality Time - I believe that spending quality time with loved ones is the best way to nurture relationships.</p>
  <p><strong>Kung Pagkain Ka Ano Ka? Bakit?</strong> Sinigang - I am like sinigang because I have a mix of flavors - sour, savory, and a hint of sweetness - just like the variety of experiences and emotions I bring to the table.</p>
  <p><strong>Pet Peeve:</strong> wala naman</p>
</ion-content>
